################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/iSpaceExplorer/obj/ARM/Debug
/iSpaceExplorer/iSpaceExplorer.vcxproj.user
